<!DOCTYPE html>
<html>
<script src="angular.min.js"></script>
<script src="jsonQ.js"></script>
<script src="index.js"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl"> 
	<div  style="padding:10px;margin:5px; border:1px solid grey; background-color:lightgrey" >
		activity - 1
		
		<button ng-click="addRestService()">add service</button>
		<div ng-repeat="restService in restServices" style="padding:10px; border:1px solid grey">
			<p style="position: absolute;right: 50px;"><button ng-click = "removeService(restService,$index, $event)"> remove</button></p>
			<div ng-include="'myTable.htm'"></div>
			<p>parent path: {{restService.parentPath}}</p>
			<p>parent path Array: {{restService.parentPathArray}}</p>
		</div>
	</div>
	<button ng-click ="complete()">complete</button>
</div>

<script>
</script>

<p>The HTML, and AngularJS code, for this table are located in the file "myTable.htm".</p>

</body>
</html>
